body{
  background-color: beige;
  color: black;
}

h1{
  text-align: center;
}

.box{
  width: 200px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
